.contact:before {
    content: " ";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(112, 112, 112);
    position: relative;
    top: -50px;
    left: 50%;
}

#map {
    width: 60%;
    height: 400px;
    margin: 0 auto;
}

.contact p{
    text-align: center;
}

@media screen and (max-width:1000px) {
    #map {
        width: 80%;        
    }
}

@media screen and (max-width:600px) {
    #map {
        width: 100%;        
    }
}